

<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/reset.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="icon" type="image/ico" href="./css/favicon.ico" />
<title>CMS Blog Site</title>
</head>

<body class="">

  <br>
  <br>

<div class="bordered_section_body">

  <br>

  <header>
  </header>

  <br>

  {{{body}}}

  <br>
  <br>

</div>

<footer>
</footer>


<script src="./js/main-script-general.js"></script>


</body>

</html>

