

:root {
  --light-green-background: #90beab; 
  --light-gray-button: rgb(172, 172, 172);
  --dark-gray-header: rgb(100,100, 100);
  --dark-blue-border: rgb(25, 25, 100);
}

html {
  margin: 5px;
}

.bordered_section_heading {
  border: 3px solid var(--dark-blue-border);
  color: white;
  background-color: var(--dark-gray-header);
  padding: 10px;
}

.bordered_section_body {
  border: 1px solid var(--dark-blue-border);
  padding: 5px;
}

body {
  background-color: var(--light-green-background);
  color: black; 
  font-family: 'Modern', 'Comic Sans MS', sans-serif, Arial;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Modern', 'Comic Sans MS', sans-serif, Arial;
}

h1 {
  font-size: 35px;
  text-align: center;
}

p {
  font-family: 'Modern', 'Comic Sans MS', sans-serif, Arial;
  margin: 5px;
}

button, nav {
  background-color: var(--light-gray-button);
  color: black;
  border: 2px solid lightblue;
  font-family: 'Modern', 'Comic Sans MS', sans-serif, Arial;
  padding: 5px;
  margin: 5px;
}

button:hover {
  background-color: var(--light-gray-button);
  color: white;
  border: 2px solid lightblue;
}

button:active {
  color: yellow;
}

/* unvisited link (or menu command) */
a:link {
  color: black;
}

/* visited link (or menu command) */
a:visited {
  color: black;
}

/* mouse-over link (or menu command) */
a:hover {
  color: white;
}

/* selected link (or menu command) */
a:active {
  color: yellow;
}

.message_text_area_gallery_div {
  width: 99%;
  min-height: 5x;
  max-height: 50px;
  overflow: hidden;
}

.message_text_area_detail_div {
  width: 99%;
  max-height: 750px;
  overflow: auto;
}

.comment_text_area_gallery_div {
  width: 99%;
  height: 100px;
  max-height: 100px;
  overflow: hidden;
}

.comment_text_area_detail_div {
  width: 100%;
  /* min-height: 100px; */
  max-height: 250px;
  overflow: auto;
}

.messageTitleField, 
.messageTextField, 
.commentTextField {
  resize: none;
  width: 99%;
  padding: 5px;
  margin: 5px;
}

input {
  padding: 5px;
  text-indent: 5px;
}

.bigAndBold {
  font-size: 1.25em;
  font-weight: bold;
}
